:root {
  --page-width: 1260px;
  --section-padding: 100px;
  --makerspace-primary-color: #bad1cd;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
